<script defer src="/javascripts/client.js"></script>
	<!--
	    Start Preloader
	    ==================================== -->
	<div class="preloader">
		<div class="sk-cube-grid">
			<div class="sk-cube sk-cube1"></div>
			<div class="sk-cube sk-cube2"></div>
			<div class="sk-cube sk-cube3"></div>
			<div class="sk-cube sk-cube4"></div>
			<div class="sk-cube sk-cube5"></div>
			<div class="sk-cube sk-cube6"></div>
			<div class="sk-cube sk-cube7"></div>
			<div class="sk-cube sk-cube8"></div>
			<div class="sk-cube sk-cube9"></div>
		</div>
	</div>
	<!-- End Preloader
        ==================================== -->

 <!--
Welcome Slider
==================================== -->

<section class="hero-area overlay" style="background-image: url('images/banner/hero-bg-1.jpeg');">
	<!-- <video autoplay muted loop class="hero-video">
		<source src="images/banner/hero-video.mp4" type="video/mp4">
	</video> -->
	<div class="block">
		<div class="video-button">
			<a class="popup-video" href="https://www.youtube.com/watch?v=3ZHjHFdE4QE">
				<i class="tf-ion-play"></i>
		</a>
		</div>
		<h1>Испытайте новую реальность</h1>
		<p>Агенство фото-видео продакшн полного цикла. <br>От идеи до премьеры...</p>
		<a data-scroll href="#services" class="btn btn-transparent">Наши услуги</a>
	</div>
</section>

 <!-- 
  Fixed Navigation
  ==================================== -->
    <header id="navigation" class="navbar navigation">
        <div class="container">
            <div class="navbar-header">
              <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->
    
                <!-- logo -->
                <a class="navbar-brand logo" href="/">
                    <!-- <img src="images/logo.png" alt="Website Logo" /> -->
                    <svg width="40px" height="40px" viewBox="0 0 45 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Group" transform="translate(2.000000, 2.000000)" stroke="#57CBCC" stroke-width="3">
                                <ellipse id="Oval" cx="20.5" cy="20" rx="20.5" ry="20"></ellipse>
                                <path d="M6,7 L33.5,34.5" id="Line-2" stroke-linecap="square"></path>
                                <path d="M21,20 L34,7" id="Line-3" stroke-linecap="square"></path>
                            </g>
                        </g>
                    </svg>
                </a>
            <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="Navigation">
            <ul id="nav" class="nav navbar-nav navigation-menu">
                <li><a data-scroll href="#body">Главная</a></li>
                <li><a data-scroll href="#about">О Нас</a></li>
                <li><a data-scroll href="#services">Услуги</a></li>
                <li><a data-scroll href="#portfolio">Портфолио</a></li>
                <li><a data-scroll href="#our-team">Команда</a></li>
                <li><a data-scroll href="#pricing">Цены</a></li>
                <li><a data-scroll href="#contact-us">Заказ</a></li>
            </ul>
        </nav>
        <!-- /main nav -->
  
      </div>
  </header>
  <!--
  End Fixed Navigation
  ==================================== -->

<!--
		Start About Section
		==================================== -->
		<section class="bg-one about section">
			<div class="container">
				<div class="row">
				
					<!-- section title -->
					<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
						<h2>О <span class="color">Нас</span> </h2>
						<div class="border"></div>
					</div>
					<!-- /section title -->
					
					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
						<div class="block">							
							<div class="icon-box">
								<i class="tf-tools"></i>
							</div>					
							<!-- Express About Yourself -->
							<div class="content text-center">
								<h3 class="ddd">Мы креативны</h3>								
								<p>У нас оригинальный, принципиально новый подход. Мы создаем нечто, чего еще не было.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
						<div class="block">
							<div class="icon-box">
								<i class="tf-strategy"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="content text-center">
								<h3>Мы Профессионалы</h3>
								<p>Подходим к заказу ответственно, эффективно и надежно выполняем свою работу.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->					
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="block kill-margin-bottom">
							<div class="icon-box">
								<i class="tf-anchor2"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="content text-center">
								<h3>Мы Талантливы</h3>
								<p>Наша команда обладает способностями, позволяющими  добиваться высоких результатов.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
				</div> 		<!-- End row -->
			</div>   	<!-- End container -->
		</section>    
    <!-- End section -->

<section class="section about-2 padding-0 bg-dark" id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 padding-0 ">
				<img class="img-responsive" src="images/about/about-production.jpeg" alt="">
			</div>
			<div class="col-md-6">
				<div class="content-block">
					<h2>Мы команда Профессионалов</h2>
					<p>Наша студия видеопроизводства работает круглосуточно и без выходных, что позволяет нам без задержек решать срочные задачи.</p>
					<p>Мы располагаем современным оборудованием и более чем 9-летним опытом работы в данной сфере. За это время к нам обратились сотни человек и компаний.</p>
					<p>Качество наших работ соответствует высоким мировым стандартам, а цены находятся на среднем для России уровне.</p>
					{{!-- <div class="row">
						<div class="col-md-6">
							<div class="media">
								<div class="pull-left">
									<i class="tf-circle-compass"></i>	
								</div>
								<div class="media-body">
									<h4 class="media-heading">SEO Optimized</h4>
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus consectetur dolores repellendus eos saepe</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="media">
								<div class="pull-left">
									<i class="tf-hotairballoon"></i>	
								</div>
								<div class="media-body">
									<h4 class="media-heading">Easy Customization</h4>
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus consectetur dolores repellendus </p>
								</div>
							</div>
						</div> --}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--
Start Call To Action
==================================== -->
{{!-- <section class="call-to-action section-sm bg-1 overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Great Design & Incredible Features</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur odio impedit incidunt? <br> Omnis accusantium ea reiciendis, fugit commodi nostrum.</p>
				<a href="#" class="btn btn-main">Start a project with us</a>
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   --}}
 <!-- End section -->

<!-- Start Services Section
==================================== -->

<section id="services" class="bg-one section">
	<div class="container">
		<div class="row">
			
			<!-- section title -->
			<div class="title text-center wow fadeIn" data-wow-duration="500ms">
				<h2>Наши <span class="color">Услуги</span></h2>
				<div class="border"></div>
			</div>
			<!-- /section title -->
			
            <!-- Single Service Item -->
			<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-globe"></i>
					</div>
					<h3>Фотоссесия</h3>
					<p>Создать комфортные условия во время фотосессии и сделать снимки незабываемыми - наш дивиз.</p>
				{{!-- <a class="btn btn-transparent" href="/blog-single">Read more</a> --}}
        </div>
			</article>
            <!-- End Single Service Item -->
            
            <!-- Single Service Item -->
			<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-laptop"></i>
					</div>
					<h3>Прямая трансляция</h3>
					<p>Организация online-трансляции любой сложности. Площадки, персонал, комплекты оборудования. </p>
          {{!-- <a class="btn btn-transparent" href="/blog-single">Read more</a> --}}
        </div>
			</article>
            <!-- End Single Service Item -->
            
            <!-- Single Service Item -->
			<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-genius"></i>
					</div>
					<h3>Многокамерная видеосъемка</h3>
					<p>Ролики "под ключ". 100% соблюдаем дедлайны. 100% возьмут на ТВ. </p>
			    {{!-- <a class="btn btn-transparent" href="/blog-single">Read more</a> --}}
      	</div>
			</article>
			<!-- End Single Service Item -->
			
			<!-- Single Service Item -->
			<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-dial"></i>
					</div>
					<h3>Видеосъемка</h3>
					<p>Пройдем с вами весь путь создания видео от сценария до готового продукта. Наши возможности почти безграничны</p>
				</div>
			</article>
			<!-- End Single Service Item -->
			
			<!-- Single Service Item -->
			<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-target3"></i>
					</div>
					<h3>Анимация</h3>
					<p>Снимем анимационный ролик любой сложности. Разработка концепции. Профессионалы своего дела.</p>
				</div>
			</article>
			<!-- End Single Service Item -->
			
			<!-- Single Service Item -->
			<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="service-block text-center kill-margin-bottom">
					<div class="service-icon text-center">
						<i class="tf-lifesaver"></i>
					</div>
					<h3>Монтаж</h3>
					<p>Профессиональный монтаж видео. Цветокоррекция, графика, заставки, плашки, титры, клинап.</p>
				</div>
			</article>
			<!-- End Single Service Item -->
				
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->
	

<!-- Start Team Skills
		=========================================== -->
		
		{{!-- <section id="team-skills" class="parallax-section section section-bg overly">
			<div class="container">
				<div class="row" >
					<!-- section title -->
					<div class="col-md-12">
						<div class="title text-center">
							<h2>Our <span class="color">Skills</span></h2>
							<div class="border"></div>
						</div>
					</div>
					<!-- /section title -->
				</div>  		<!-- End row -->
				<div class="row">
					<div class="col-md-6">
						<h2>We’ve skilled in wide range of web and <br>
							Other digital market tools.</h2>
							<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis magni explicabo cum aperiam recusandae sunt accusamus totam. Quidem quos fugiat sapiente numquam accusamus quas hic, itaque in libero reiciendis tempora!</p>
							<img class="img-responsive" src="images/about/company-growth.png" alt="">
					</div>
					<div class="col-md-6">
						<ul class="skill-bar">
							<li>
								<p><span>01-</span> Business Development</p>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="70"
									aria-valuemin="0" aria-valuemax="100" style="width:90%">
									</div>
								</div>
							</li>
							<li>
								<p><span>02-</span> Analysis</p>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="70"
									aria-valuemin="0" aria-valuemax="100" style="width:70%">
									</div>
								</div>
							</li>
							<li>
								<p><span>03-</span> Design</p>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="70"
									aria-valuemin="0" aria-valuemax="100" style="width:85%">
									</div>
								</div>
							</li>
							<li>
								<p><span>04-</span> IOS Development</p>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="70"
									aria-valuemin="0" aria-valuemax="100" style="width:60%">
									</div>
								</div>
							</li>
							<li>
									<p><span>04-</span> Andriod Development</p>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="70"
										aria-valuemin="0" aria-valuemax="100" style="width:94%">
										</div>
									</div>
								</li>
						</ul>
					</div>
				</div>
			</div>   	<!-- End container -->
		</section>   --}}
     <!-- End section -->

<!-- Start Portfolio Section
		=========================================== -->

<section class="portfolio section" id="portfolio">
	<div class="container">
		<div class="row ">
			<div class="col-lg-12">
				<!-- section title -->
				<div class="title text-center">
					<h2>Наши <span class="color">Работы</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div> <!-- /end col-lg-12 -->
		</div> <!-- end row -->
		<div class="row">
			<div class="col-md-12">
				<div class="portfolio-filter">
					<button class="active" type="button" data-filter="all">Все</button>
					<button type="button" data-filter="photography">Фото</button>
					<button type="button" data-filter="design">Видео</button>
					<button type="button" data-filter="development">Проекты</button>
				</div>
			</div>
		</div>
		<div class="row filtr-container">
			<div class="col-lg-4 filtr-item" data-category="development">
				<div class="portfolio-block">
					<img class="img-responsive" src="images/portfolio/gallery-1.jpeg" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="images/portfolio/gallery-1.jpeg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						{{!-- <h4><a href="">Tag Design</a></h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p> --}}
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="design">
				<div class="portfolio-block">
					<img class="img-responsive" src="images/portfolio/video-2.jpeg" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="images/portfolio/video-2.jpeg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						{{!-- <h4><a href="">Sound system</a></h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p> --}}
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="design, development">
				<div class="portfolio-block">
					<img class="img-responsive" src="images/portfolio/video-1.jpeg" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="images/portfolio/video-1.jpeg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						{{!-- <h4><a href="">Clock Product</a></h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p> --}}
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="photography, development">
				<div class="portfolio-block">
					<img class="img-responsive" src="images/portfolio/photo-4.png" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="images/portfolio/photo-4.png"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						{{!-- <h4><a href="">Bottol Label</a></h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p> --}}
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="design">
				<div class="portfolio-block">
					<img class="img-responsive" src="images/portfolio/video-3.jpeg" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="images/portfolio/video-3.jpeg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						{{!-- <h4><a href="">Shopping Bag</a></h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p> --}}
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="photography">
				<div class="portfolio-block">
					<img class="img-responsive" src="images/portfolio/photo-3.jpeg" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="images/portfolio/photo-3.jpeg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						{{!-- <h4><a href="">Tag Design</a></h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p> --}}
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="design">
				<div class="portfolio-block">
					<img class="img-responsive" src="images/portfolio/video-4.png" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="images/portfolio/video-4.png"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						{{!-- <h4><a href="">Business Card</a></h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p> --}}
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="design">
				<div class="portfolio-block">
					<img class="img-responsive" src="images/portfolio/video-5.jpeg" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="images/portfolio/video-5.jpeg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						{{!-- <h4><a href="">Stationary Design</a></h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p> --}}
					</div>
				</div>
			</div>
			<div class="filtr-item col-md-4" data-category="photography, development">
				<div class="portfolio-block">
					<img class="img-responsive" src="images/portfolio/photo-1.jpeg" alt="">
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="images/portfolio/photo-1.jpeg"
							data-lightbox="image-1">
							<i class="tf-ion-android-search"></i>
						</a>
						{{!-- <h4><a href="">Tag Design</a></h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, nemo!</p> --}}
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end container -->
</section> <!-- End section -->

<!--
Start Counter Section
==================================== -->
		
<section id="counter" class="parallax-section bg-1 section overly">
	<div class="container">
		<div class="row">
		
			<!-- first count item -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
				<div class="counters-item">
					<i class="tf-ion-android-happy"></i>
					<span data-speed="3000" data-to="320">320</span>
					<h3>Счастливых клиентов</h3>
				</div>
			</div>
			<!-- end first count item -->
		
			<!-- second count item -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="counters-item">
					<i class="tf-ion-archive"></i>
					<span data-speed="3000" data-to="565">565</span>
					<h3>Завершенных проектов</h3>
				</div>
			</div>
			<!-- end second count item -->
		
			<!-- third count item -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="counters-item">
					<i class="tf-ion-thumbsup"></i>
					<span data-speed="3000" data-to="95">95</span>
					<h3>Положительных отзывов</h3>
					
				</div>
			</div>
			<!-- end third count item -->
			
			<!-- fourth count item -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="counters-item kill-margin-bottom">
					<i class="tf-ion-coffee"></i>
					<span data-speed="3000" data-to="2500">2500</span>
					<h3>Чашек кофе</h3>
				</div>
			</div>
			<!-- end fourth count item -->
			
		</div> 		<!-- end row -->
	</div>   	<!-- end container -->
</section>   <!-- end section -->

<!-- 
Start Our Team
=========================================== -->

<section id="our-team" class="section">
	<div class="container">
		<div class="row">
		
			<!-- section title -->
			<div class="title text-center wow fadeInUp" data-wow-duration="500ms">
				<h2>Наша <span class="color">Команда</span></h2>
				<div class="border"></div>
			</div>
			<!-- /section title -->
			
			<!-- team member -->
			<div class="col-md-3 col-sm-6 col-xs-12  wow fadeInDown" data-wow-duration="500ms">
               <div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-responsive" src="images/team/team-1.jpg" alt="Meghna">
						<!-- /member photo -->
						
						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>
					
					<!-- member name & designation -->
					<div class="member-meta">
						<h4>Михаил</h4>
						<span>Фотограф</span>
						<p>Ловлю кадр как Бог. Проведу фотосессию в любой точке мира.</p>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				   
               </div>
            </div>
			<!-- end team member -->
			
			<!-- team member -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
               <div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-responsive" src="images/team/team-2.jpg" alt="Meghna">
						<!-- /member photo -->
						
						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>
					
					<!-- member name & designation -->
					<div class="member-meta">
						<h4>Тарас</h4>
						<span>Видеограф</span>
						<p>Снимаю по системе Станиславского</p>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
            </div>
			<!-- end team member -->
			
			<!-- team member -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
               <div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-responsive" src="images/team/team-3.jpg" alt="Meghna">
						<!-- /member photo -->
						
						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>
					
					<!-- member name & designation -->
					<div class="member-meta">
						<h4>Антон</h4>
						<span>3D-Аниматор</span>
						<p>Профессионал в области трехмерной графики</p>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
               </div>
            </div>
			<!-- end team member -->
			
			<!-- team member -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
               <div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-responsive" src="images/team/team-4.jpg" alt="Meghna">
						<!-- /member photo -->
						
						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>
					
					<!-- member name & designation -->
					<div class="member-meta">
						<h4>Дарья</h4>
						<span>Фотограф</span>
						<p>Лучшая в свадебных фотосессиях. Сделаю невесту счастливой.</p>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
               </div>
            </div>
			<!-- end team member -->
			
		</div>  	<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->
		

<!-- Start Pricing section
		=========================================== -->
		
		<section id="pricing" class="pricing section">
			<div class="container">
				<div class="row">
					
					<!-- section title -->
				    <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
			        	<h2>Наши <span class="color"> Цены</span></h2>
				        <div class="border"></div>
				    </div>
				    <!-- /section title -->
					
					<!-- single pricing table -->
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp" data-wow-duration="200ms">
						<div class="price-item">
							
							<!-- plan name & value -->
							<div class="price-title">
								<h3>{{services[0].title}}</h3>
								<p><strong class="value">20</strong>000</p>
							</div>
							<!-- /plan name & value -->
							
							<!-- plan description -->
							<ul>
								<li>Фотосессия в студии\nДетская фотосъёмка</li>
								{{!-- <li></li>
								<li>1 GB Storage</li>
								<li>10 GB Bandwidth</li>
								<li>24/7 Tech Support</li> --}}
							</ul>
							<!-- /plan description -->
							
							<!-- signup button -->
							<a class="btn btn-transparent" href="#">Заказать</a>
							<!-- /signup button -->
							
						</div>
					</div>
					<!-- end single pricing table -->
					
					<!-- single pricing table -->
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="price-item">
						
							<!-- plan name & value -->
							<div class="price-title">
								<h3>Silver</h3>
								<p><strong class="value">33</strong/>000</p>
							</div>
							<!-- /plan name & value -->
							
							<!-- plan description -->
							<ul>
								<li>Фотосессия в студии\nДетская фотосъёмка\nВидеосъемка</li>
								{{!-- <li>1 GB Storage</li>
								<li>10 GB Bandwidth</li>
								<li>24/7 Tech Support</li> --}}
							</ul>
							<!-- /plan description -->
							
							<!-- signup button -->
							<a class="btn btn-transparent" href="#">Заказать</a>
							<!-- /signup button -->
							
						</div>
					</div>
					<!-- end single pricing table -->
					
					<!-- single pricing table -->
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
						<div class="price-item">
							
							<!-- plan name & value -->
							<div class="price-title">
								<h3>Gold</h3>
								<p><strong class="value">51</strong/>000</p>
							</div>
							<!-- /plan name & value -->
							
							<!-- plan description -->
							<ul>
								<li>Фотосессия в студии\nДетская фотосъёмка\nВидеосъемка\nПрофессиональный монтаж</li>
								{{!-- <li>10 GB Bandwidth</li>
								<li>24/7 Tech Support</li> --}}
							</ul>
							<!-- /plan description -->
							
							<!-- signup button -->
							<a class="btn btn-transparent" href="#">Заказать</a>
							<!-- /signup button -->
							
						</div>
					</div>
					<!-- end single pricing table -->
					
					<!-- single pricing table -->
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="750ms">
						<div class="price-item">
						
							<!-- plan name & value -->
							<div class="price-title">
								<h3>Platinum</h3>
								<p><strong class="value">89</strong/>000</p>
							</div>
							<!-- /plan name & value -->
							
							<!-- plan description -->
							<ul>
								<li>Фотосессия в студии\nДетская фотосъёмка\nВидеосъемка\nПрофессиональный монтаж\nОзвучивание и музыка</li>
								{{!-- <li>24/7 Tech Support</li> --}}
							</ul>
							<!-- /plan description -->
							
							<!-- signup button -->
							<a class="btn btn-transparent" href="#">Заказать</a>
							<!-- /signup button -->
							
						</div>
					</div>
					<!-- end single pricing table -->
				    
					
				</div>       <!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->

<!-- Start Testimonial
		=========================================== -->

{{!-- <section id="testimonial" class="testimonial overly section bg-2">
	<div class="container">
		<div class="row">				
			<div class="col-lg-12">
				<!-- testimonial wrapper -->
				<div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
				
					<!-- testimonial single -->
					<div class="item text-center">
						
						<!-- client photo -->
						<div class="client-thumb">
							<img src="images/team/client-1.jpg" class="img-responsive" alt="Meghna">
						</div>
						<!-- /client photo -->
						
						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>Jonathon Andrew</h3>
								<span>Dec 26, 2018</span>
							</div>
							<div class="client-comment">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium minima ex, quia error, deserunt voluptatibus repellendus? Incidunt eligendi aliquam repellat molestias, vel sed optio rem odit quis ratione non consequuntur!</p>
							</div>
						</div>
						<!-- /client info -->
					</div>
					<!-- /testimonial single -->
				
					<!-- testimonial single -->
					<div class="item text-center">
						
						<!-- client photo -->
						<div class="client-thumb">
							<img src="images/team/client-2.jpg" class="img-responsive" alt="Meghna">
						</div>
						<!-- /client photo -->
						
						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>Jonathon Andrew</h3>
								<span>Dec 26, 2018</span>
							</div>
							<div class="client-comment">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reiciendis qui in laborum obcaecati expedita blanditiis animi placeat, nemo exercitationem porro. Consequuntur qui commodi minima molestiae, dolores reprehenderit nemo inventore.</p>
							</div>
						</div>
						<!-- /client info -->
					</div>
					<!-- /testimonial single -->
				
					<!-- testimonial single -->
					<div class="item text-center">
						
						<!-- client photo -->
						<div class="client-thumb">
							<img src="images/team/client-1.jpg" class="img-responsive" alt="Meghna">
						</div>
						<!-- /client photo -->
						
						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>Jonathon Andrew</h3>
								<span>Dec 26, 2018</span>
							</div>
							<div class="client-comment">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia dolorem non delectus neque, voluptatem accusamus atque expedita doloribus minima iusto nemo, numquam eos quia maiores harum! Quaerat illum beatae necessitatibus!</p>
							</div>
						</div>
						<!-- /client info -->
					</div>
					<!-- /testimonial single -->
					
				</div>		<!-- end testimonial wrapper -->
			</div> 		<!-- end col lg 12 -->
		</div>	    <!-- End row -->
	</div>       <!-- End container -->
</section>     --}}
<!-- End Section -->

<!-- Start Blog Section =========================================== -->
		
{{!-- <section id="blog" class="section">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="title text-center wow fadeInDown">
				<h2> Latest <span class="color">Posts</span></h2>
				<div class="border"></div>
			</div>
			<!-- /section title -->
			<div class="clearfix">
				<!-- single blog post -->
				<article class="col-md-4 col-sm-6 col-xs-12 clearfix wow fadeInUp" data-wow-duration="500ms">
					<div class="post-block">
						<div class="media-wrapper">
							<img src="images/blog/blog-post-1.jpg" alt="amazing caves coverimage" class="img-responsive">
						</div>
						<div class="content">
							<h3><a href="">Simple Image Post</a></h3>
							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
							<a class="btn btn-transparent" href="/blog-single">Read more</a>
						</div>
					</div>						
				</article>
				<!-- /single blog post -->
				
				<!-- single blog post -->
				<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
					<div class="post-block">
						<div id="gallery-post" class="media-wrapper">
							<div class="item">
								<img src="images/blog/blog-post-1.jpg" alt="blog post" class="img-responsive">
							</div>
							<div class="item">
								<img src="images/blog/blog-post-3.jpg" alt="blog post" class="img-responsive">
							</div>
							<div class="item">
								<img src="images/blog/blog-post-2.jpg" alt="blog post | Meghna" class="img-responsive">
							</div>
						</div>
						
						<div class="content">
							<h3><a href="">Simple Slider Post</a></h3>
							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
							<a class="btn btn-transparent" href="/blog-single">Read more</a>
						</div>
					</div>						
				</article>
				<!-- end single blog post -->
				
				<!-- single blog post -->
				<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
					<div class="post-block">
						<div class="media-wrapper">
							<img src="images/blog/blog-post-6.jpg" alt="amazing caves coverimage" class="img-responsive">
						</div>
						
						<div class="content">
							<h3><a href="">Simple Image Post</a></h3>
							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
							<a class="btn btn-transparent" href="/blog-single">Read more</a>
						</div>
					</div>						
				</article>
				<!-- end single blog post -->
			</div>
			<div class="all-post text-center">
				<a class="btn btn-main" href="/blog">View All Post</a>
			</div>
		</div> <!-- end row -->
	</div> <!-- end container -->
</section>  --}}
<!-- end section -->

<!-- Srart Contact Us
=========================================== -->		
<section id="contact-us" class="contact-us section-bg">
	<div class="container">
		<div class="row">
			
			<!-- section title -->
			<div class="title text-center wow fadeIn" data-wow-duration="500ms">
				<h2>Оформление <span class="color">Заказа</span></h2>
				<div class="border"></div>
			</div>
			<!-- /section title -->
			
			<!-- Contact Details -->
			<div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
				<h3>Контакты</h3>
				<p>После отправки формы наш менеджер свяжется с Вами в ближайшее время для уточнения деталей заказа.<br> Также Вы можете связаться с нами напрямую: </p>
				<div class="contact-details">
					<div class="con-info clearfix">
						<i class="tf-map-pin"></i>
						<span>ул. Ленина / 40. Москва, Россия</span>
					</div>
					
					<div class="con-info clearfix">
						<i class="tf-ion-ios-telephone-outline"></i>
						<span>Телефон: +880-31-000-000</span>
					</div>
					
					{{!-- <div class="con-info clearfix">
						<i class="tf-ion-iphone"></i>
						<span>Fax: +880-31-000-000</span>
					</div> --}}
					
					<div class="con-info clearfix">
						<i class="tf-ion-ios-email-outline"></i>
						<span>Email: hello@friend.com</span>
					</div>
				</div>
			</div>
			<!-- / End Contact Details -->
				
			<!-- Contact Form -->
			<div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<form id="contact-form" method="POST" action="sendmail.php" role="form">
				
					<div class="form-group">
						<input type="text" placeholder="Ваше имя" class="form-control" name="name" id="name">
					</div>
					
					<div class="form-group">
						<input type="email" placeholder="E-mail" class="form-control" name="email" id="email">
					</div>
					
					<div class="form-group">
            <input type="phone" placeholder="Номер телефона" class="form-control" name="phone" id="phone">
					</div>
          {{!-- Удалить потом --}}
					<div class="form-group">
						{{!-- <label>Финальная сумма (рублей):<input type="text" class="form-control" value="" name="total" id="total"></label> --}}
            <label>ИТОГО:   <span id="final-cost">20000</span> рублей.</label>
          </div>
          {{!-- Удалить потом --}}
					
					<div id="mail-success" class="success">
						Thank you. The Mailman is on His Way :
					</div>
					
					<div id="mail-fail" class="error">
						Sorry, don't know what happened. Try later :(
					</div>
					
					<div id="cf-submit">
						<input type="submit" id="contact-submit" class="btn btn-transparent" value="Оформить заказ">
            <label class="thank-you hide" id="thank-you">Спасибо за заказ! Проект договора направлен вам на email. Наш менеджер свяжется с вам в ближайшее время.</label>
					</div>						
					
				</form>
			</div>
			<!-- ./End Contact Form -->
		
		</div> <!-- end row -->
	</div> <!-- end container -->
	
</section> <!-- end section -->


{{!-- <div class="myModal1 hide">
  <div class="myModal1__content">
    <h3>Все отправлено успешно!!!</h3>
  </div>
</div> --}}
