	<!--
	    Start Preloader
	    ==================================== -->
	<div class="preloader">
		<div class="sk-cube-grid">
			<div class="sk-cube sk-cube1"></div>
			<div class="sk-cube sk-cube2"></div>
			<div class="sk-cube sk-cube3"></div>
			<div class="sk-cube sk-cube4"></div>
			<div class="sk-cube sk-cube5"></div>
			<div class="sk-cube sk-cube6"></div>
			<div class="sk-cube sk-cube7"></div>
			<div class="sk-cube sk-cube8"></div>
			<div class="sk-cube sk-cube9"></div>
		</div>
	</div>
	<!-- End Preloader
        ==================================== -->

<!-- 
  Fixed Navigation
  ==================================== -->
<header id="navigation" class="navbar navigation">
  <div class="container">
    <div class="navbar-header">
      <!-- responsive nav button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- /responsive nav button -->

      <!-- logo -->
      <a class="navbar-brand logo" href="/">
        <!-- <img src="images/logo.png" alt="Website Logo" /> -->
        <svg width="40px" height="40px" viewBox="0 0 45 44" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group" transform="translate(2.000000, 2.000000)" stroke="#57CBCC" stroke-width="3">
              <ellipse id="Oval" cx="20.5" cy="20" rx="20.5" ry="20"></ellipse>
              <path d="M6,7 L33.5,34.5" id="Line-2" stroke-linecap="square"></path>
              <path d="M21,20 L34,7" id="Line-3" stroke-linecap="square"></path>
            </g>
          </g>
        </svg>
      </a>
      <!-- /logo -->
    </div>

    <!-- main nav -->
    <nav class="collapse navbar-collapse navbar-right" role="Navigation">
      <ul id="nav" class="nav navbar-nav navigation-menu">
        <li><a data-scroll href="/#body">Home</a></li>
        <li><a data-scroll href="/#about">About Us</a></li>
        <li><a data-scroll href="/#services">Services</a></li>
        <li><a data-scroll href="/#portfolio">Portfolio</a></li>
        <li><a data-scroll href="/#our-team">Team</a></li>
        <li><a data-scroll href="/#pricing">Pricing</a></li>
        <li><a data-scroll href="/#blog">Blog</a></li>
        <li><a data-scroll href="/#contact-us">Contact</a></li>
      </ul>
    </nav>
    <!-- /main nav -->

  </div>
</header>
<!--
End Fixed Navigation
==================================== -->

<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="title text-center wow fadeInDown">
        <h2>Blog <span class="color">Posts</span></h2>
        <div class="border"></div>
      </div>
      <!-- /section title -->
      <div class="clearfix">
        <!-- single blog post -->
        <article class="col-md-4 col-sm-6 col-xs-12 mb-30 clearfix wow fadeInUp" data-wow-duration="500ms">
          <div class="post-block">
            <div class="media-wrapper">
              <img src="images/blog/blog-post-1.jpg" alt="amazing caves coverimage" class="img-responsive">
            </div>
            <div class="content">
              <h3><a href="">Simple Image Post</a></h3>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
              <a class="btn btn-transparent" href="blog-single.html">Read more</a>
            </div>
          </div>
        </article>
        <!-- /single blog post -->

        <!-- single blog post -->
        <article class="col-md-4 col-sm-6 col-xs-12 mb-30 wow fadeInUp" data-wow-duration="500ms"
          data-wow-delay="200ms">
          <div class="post-block">
            <div id="gallery-post" class="media-wrapper">
              <div class="item">
                <img src="images/blog/blog-post-2.jpg" alt="blog post" class="img-responsive">
              </div>
              <div class="item">
                <img src="images/blog/blog-post-3.jpg" alt="blog post" class="img-responsive">
              </div>
              <div class="item">
                <img src="images/blog/blog-post-1.jpg" alt="blog post | Meghna" class="img-responsive">
              </div>
            </div>

            <div class="content">
              <h3><a href="">Simple Slider Post</a></h3>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
              <a class="btn btn-transparent" href="blog-single.html">Read more</a>
            </div>
          </div>
        </article>
        <!-- end single blog post -->

        <!-- single blog post -->
        <article class="col-md-4 col-sm-6 col-xs-12 mb-30 wow fadeInUp" data-wow-duration="500ms"
          data-wow-delay="400ms">
          <div class="post-block">
            <div class="media-wrapper">
              <img src="images/blog/blog-post-3.jpg" alt="amazing caves coverimage" class="img-responsive">
            </div>

            <div class="content">
              <h3><a href="">Simple Image Post</a></h3>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
              <a class="btn btn-transparent" href="blog-single.html">Read more</a>
            </div>
          </div>
        </article>
        <!-- end single blog post -->
        <!-- single blog post -->
        <article class="col-md-4 col-sm-6 col-xs-12 mb-30 clearfix wow fadeInUp" data-wow-duration="500ms">
          <div class="post-block">
            <div class="media-wrapper">
              <img src="images/blog/blog-post-4.jpg" alt="amazing caves coverimage" class="img-responsive">
            </div>
            <div class="content">
              <h3><a href="">Simple Image Post</a></h3>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
              <a class="btn btn-transparent" href="blog-single.html">Read more</a>
            </div>
          </div>
        </article>
        <!-- /single blog post -->

        <!-- single blog post -->
        <article class="col-md-4 col-sm-6 col-xs-12 mb-30 wow fadeInUp" data-wow-duration="500ms"
          data-wow-delay="200ms">
          <div class="post-block">
            <div class="media-wrapper">
              <img src="images/blog/blog-post-5.jpg" alt="amazing caves coverimage" class="img-responsive">
            </div>

            <div class="content">
              <h3><a href="">Simple Slider Post</a></h3>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
              <a class="btn btn-transparent" href="blog-single.html">Read more</a>
            </div>
          </div>
        </article>
        <!-- end single blog post -->

        <!-- single blog post -->
        <article class="col-md-4 col-sm-6 col-xs-12 mb-30 wow fadeInUp" data-wow-duration="500ms"
          data-wow-delay="400ms">
          <div class="post-block">
            <div class="media-wrapper">
              <img src="images/blog/blog-post-6.jpg" alt="amazing caves coverimage" class="img-responsive">
            </div>

            <div class="content">
              <h3><a href="">Simple Image Post</a></h3>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
              <a class="btn btn-transparent" href="blog-single.html">Read more</a>
            </div>
          </div>
        </article>
        <!-- end single blog post -->
      </div>
     
    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end section -->

<!-- end Contact Area
		========================================== -->
