<h1>{{title}}</h1>
<br><br>
<ul>
  <li>
    <nav></nav>
    <a href="/">Главная</a>
    <a href="/service">Услуги</a>
    <a href="/admin">Войти как администратор</a>
  </li>
</ul>

<h3>Переход по ссылке к услугам:</h3>
<a href="/service">Посмотрите на наш прейскурант:</a>
<br><br><br>

<h3>Контакты:</h3>
<div>
<a href="">Twitter</a>
<a href="">VK.com</a>
<a href="">Telegram</a>
<a href="">Instagram</a>

</div>
